.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.filmcardcontainer {
		width: 30rem;
		min-height: 50rem;
		height: 100%;
		margin: 2rem;
		padding: 2rem;
		position: relative;
		border-radius: 10px;
		border: 1px solid salmon;

		&::after {
			content: "";
			background-color: black;
			border-radius: 10px;
			opacity: 0.9;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}
	}
}
