@import "../../sass/abstracts/variables";
@import "../../sass//abstracts//mixins";

.container {
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&__body {
		width: 26rem;
		height: 45rem;
		background-color: #1e1b26;
		margin: 60px auto 0 auto;
		box-shadow: 5px 5px 115px -14px black;
		border-radius: 4px;
		position: relative;

		@include respond(phone) {
			width: 18rem;
			height: 34rem;
			margin: 0;
			overflow: scroll;
		}

		.close-btn {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			background: none;
			outline: none;
			z-index: 9999;

			@include respond(phone) {
				position: fixed;
				right: 1rem;
				top: 0.5rem;
			}

			&:hover {
				transform: scale(1.1);
				translate: ease-in 0.25;
			}

			.x1 {
				height: 2px;
				width: 30px;
				background-color: red;
				margin-top: 24px;
				border-radius: 2px;
				transform: rotate(45deg);
			}

			.x2 {
				height: 2px;
				width: 30px;
				margin-top: -3px;
				background-color: red;
				border-radius: 2px;
				transform: rotate(-45deg);
			}
		}
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		background-color: $primary-header;
		font-family: roboto;
		font-weight: 900;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		line-height: 3.5rem;
		height: 5rem;
		width: 100%;
		border-bottom: 2px $primary-home solid;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		font-size: 2 rem;

		&-info {
			position: relative;
			display: flex;
			justify-content: center;
			padding: 0;
			margin: -1rem;
			p {
				font-size: 0.5rem;
				margin: 0;
				padding: 0;
			}
		}
	}
}
