.header {
	height: 15rem;
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: linear-gradient(#2424d683, rgba(255, 255, 255, 0.623));
	background-position: center;
	background-size: cover;
}
