@import "../../sass/abstracts/variables";
.nav {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: space-between;
	background-color: #032541;
	align-items: center;

	.nav-links {
		margin-bottom: 1rem;
		margin-left: 1rem;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		position: relative;

		a {
			height: 100%;
			img {
				height: 10rem;
				margin-top: 0.5rem;
				display: inline-block;
			}
		}

		h2 {
			margin: 0;
			font-size: 5rem;
			position: absolute;
			top: 0;
			margin: 0.2rem;
			color: white;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: rgb(22, 91, 182);
			stroke-dasharray: 0;
		}

		.links {
			color: white;
			margin: 0 2rem 0 2rem;
			font-size: 1.5rem;
			position: relative;
			text-decoration: none;
			font-family: monospace;
			text-transform: uppercase;

			&:hover {
				.dropdown {
					display: inline-flex;
					justify-content: center;
					align-items: left;
					flex-direction: column;
					background-color: #18244b;
					color: white;
					position: absolute;
					width: 10rem;
					top: 100%;
					left: 0;
					border-radius: 10px;
					z-index: 9999;
					transition: 0.25s ease-in;
					opacity: 1;

					a {
						padding: 1rem 2rem 1rem 1rem;
						margin: 0.4rem 0 0.4rem 0rem;
						font-size: 1rem;
						text-decoration: none;
						color: white;
						height: 100%;

						&:hover {
							background-color: #68cee7a6;
						}

						&:last-child {
							margin: 0;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
						}
					}
				}
			}
		}

		.dropdown {
			display: none;
			opacity: 0;
		}
	}
}
