.container {
	width: 100%;
	height: 100vh;

	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10rem;
	}

	&__popular {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
	}

	&__trending {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
	}
}
