a {
	text-decoration: none;
	color: black;

	&:visited {
		color: black;
	}
}

.container {
	width: 7.8rem;
	.image {
		// pointer-events: none;

		img {
			height: 12rem;
			width: auto;
			border-radius: 10px;
		}
	}
	.content {
		font-family: monospace;
		margin-top: 1rem;
		width: 100%;
		display: flex;
		align-content: flex-start;
		flex-direction: column;

		h2 {
			font-size: 1rem;
			font-weight: bold;
			margin: 0 0 0.1rem 0.2rem;
			display: block;
		}
		p {
			font-size: 0.8rem;
			font-weight: 100;
			color: rgb(75, 75, 75);
			margin: 0 0 0.1rem 0.2rem;
		}
	}

	&:hover {
		.image {
			img {
			}
		}
	}
}
