.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	img {
	}

	.filminfo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;

		h3 {
			text-align: center;
		}
	}
}
