@import "../../sass/base/animatios";

.tabs {
	position: relative;
	transition: 0.25s ease-in-out;

	.card-container {
		display: flex;
		gap: 0.5rem;
		overflow-y: hidden;
		overflow-x: scroll;
		width: 100%;
		max-width: 1300px;
		min-height: 22.18rem;
		-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 3s; /* Firefox < 16 */
		-ms-animation: fadein 3s; /* Internet Explorer */
		-o-animation: fadein 3s; /* Opera < 12.1 */
		animation: fadein 3s;
	}
	.hide {
		display: none;
		opacity: 0;
	}
	.btn-container {
		width: auto;
		position: absolute;
		top: -6rem;
		left: 0.5rem;

		.switcher-title {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h5 {
				margin-right: 1rem;
				font-size: 1.5rem;
			}

			.btns {
				width: inherit;
				height: 2rem;
				border: 3px solid black;
				border-radius: 40px;
				font-family: monospace;

				.button {
					align-content: center;
					align-items: center;
					justify-content: center;
					background: none;
					border: none;
					font-size: 1.5rem;
					padding: 3px 20px;
					z-index: 1;
					position: relative;

					&:after {
						content: " ";
						background: rgb(9, 33, 107);
						border-radius: 40px;
						height: 100%;
						position: absolute;
						bottom: 0;
						z-index: -1;
					}

					&:after {
						right: 0;
					}

					&:focus::after {
						left: 0;
					}
					&:not(:last-child) {
						margin-right: 1rem;
					}

					&:focus {
						outline: none;
						transition: 0.25s ease-in;
						color: cyan;
					}
				}
			}
		}
	}
}
